/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: 'MonumentExtended Ultrabold';
    src: url('./fonts/MonumentExtended-Ultrabold - Copy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'MonumentExtended Regular';
    src: url('./fonts/MonumentExtended-Regular - Copy.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


html,
body {
    height: 100%;
    font-family: 'Montserrat', 'Playwrite CU', 'MonumentExtended', 'Courgette', 'Helvetica Neue', Arial, sans-serif;
    scroll-behavior: smooth;

}

#main {
    position: relative;
    background-color: #000;
    width: 100%;
    overflow: hidden;

}

#crsr {
    height: 3vw;
    width: 3vw;
    color: transparent;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    position: fixed;
    z-index: 999;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}


#loader {
    height: 100%;
    width: 100%;
    background-color: #000;
    z-index: 999;
    position: fixed;
    padding: 25vh 20vw;
    z-index: 9999; /* Ensure loader is on top */

}



.line {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    gap: 7vw;
}

.line h1 {
    font-family: Plain, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 6vw;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 900;
    white-space: nowrap;

}

#line1-part1 {
    gap: 4.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

#line1-part1 h5,
#line1-part1 h6 {
    font-family: Playwrite CU;
    font-size: 4vw;
    color: #FFA63D;
}

#line1-part1 h5 {
    text-align: right;
    width: 5vw;
}

.line h2 {

    font-size: 4vw;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    -webkit-animation-name: anime3;
    animation-name: anime3;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    font-family: "Courgette", cursive;

}

.line h1 span {
    font-family: 'MonumentExtended Regular';
    font-weight: 400;
    font-size: 6.5vw;
    line-height: 4vw;
    color: #FFA63D;
}

#page1 {
    height: 100vh;
    width: 100%;

}


@-webkit-keyframes anime3 {
    0% {
        -webkit-text-stroke: 1px solid white;
        color: #fff;

        font-family: 'MonumentExtended Regular';

    }

    25% {
        -webkit-text-stroke: 1px solid white;
        color: #FFA63D;

        font-family: "Courgette";

    }

    75% {
        -webkit-text-stroke: 1px solid white;
        color: #fff;

        font-family: 'MonumentExtended Regular';

    }


    100% {
        opacity: 1;
        -webkit-text-stroke: 0px;
        color: transparent;
        color: #FFA63D;
        font-family: "Courgette";
    }
}


@keyframes anime3 {
    0% {
        -webkit-text-stroke: 1px solid white;
        color: #fff;

        font-family: 'MonumentExtended Regular';

    }

    25% {
        -webkit-text-stroke: 1px solid white;
        color: #FFA63D;

        font-family: "Courgette";

    }

    75% {
        -webkit-text-stroke: 1px solid white;
        color: #fff;

        font-family: 'MonumentExtended Regular';

    }


    100% {
        opacity: 1;
        -webkit-text-stroke: 0px;
        color: transparent;
        color: #FFA63D;
        font-family: "Courgette";
    }
}

#page1 #nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1vw 4vw;
    color: #fff;

}

#page1 #nav #nav-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 2vw;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.5vw 3vw;
}

#page1 #nav #nav-left h3 {
    font-size: 2rem;
    font-family: 'MonumentExtended Regular';
    font-weight: 400;

}

#page1 #nav #nav-left h3:hover {
    -webkit-text-decoration: underline 2px solid #FFA63D;
    text-decoration: underline 2px solid #FFA63D;
    text-underline-offset: 2vh;
}



#nav #nav-part2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2.5vw;
    font-size: 0.5vw;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    overflow: hidden;
}

#nav #nav-part2 .nav-line {
    font-size: 0.5vw;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    /* Remove underline from links */
}

#nav #nav-part2 .nav-line h1:hover {
    -webkit-text-decoration: underline 1px dotted #FFA63D;
    text-decoration: underline 1px dotted #FFA63D;

}

#hero4 h2 {
    font-family: "Montserrat", sans-serif;
    line-height: 6vw;
    font-size: 6.5vw;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 5px solid white;
    padding-bottom: 0.2vw;
    -webkit-transition: all ease-in 0.3s;
    -o-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;

}

.hero:nth-child(2) {
    margin-top: 13vh;
}

.hero:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-family: 'MonumentExtended Regular';
    font-weight: 500;
}


#page1 .hero h1 {
    font-family: "Montserrat", sans-serif;
    line-height: 6.5vw;
    font-size: 6.5vw;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}


#hero4 h2:hover {
    -webkit-text-stroke: 0.5px #fff;
    color: transparent;
    font-weight: 500;
}

#page2 {
    min-height: 100vh;
    width: 100%;
    padding-top: 20vh;
    position: relative;
}


#video-container img {
    position: absolute;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    top: 0;
}

#page2 #video-container {
    height: 70vh;
    width: 70vw;
    position: relative;
    left: 30%;

}

#page2 #video-container video {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

#video-cursor {
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    background-color: #FFA63D;
    position: absolute;
    top: -10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 999;
    left: 75%;
}

#video-cursor i {

    color: #fff;
    font-size: 3vw;
}


#page3 {
    min-height: 150vh;
    width: 100%;
    background-color: #000;
    position: relative;
    padding: 7vh 0;

}

#page3 h1 {
    color: #fff;
    font-size: 4vw;
    text-transform: uppercase;
    margin-bottom: 4vw;
    position: relative;
    font-family: "Montserrat", sans-serif;
    margin-left: 28vw;

}

#page3 .underline {
    height: 1px;
    width: 100%;
    background-color: #fff;

}

#page3 #page3-content h1 {
    color: #fff;
    font-size: 7vw;
    text-transform: uppercase;

}



#page3 #page3-content h1::before {
    content: "02";



    position: absolute;
    color: #fec100;
    font-size: 5vw;
    font-family: Playwrite CU;
    left: -20%;

    top: -20%;
}

#image-div-container {
    background-color: red;
    padding: 1vw;
    position: relative;
}

.image-div {
    height: 30vw;
    width: 24vw;
    background-color: blue;
}



#page4 {
    margin-top: 5vh;
    position: relative;
    height: 300vh;
    width: 100%;
    padding-top: 5vh;
}

#page4-content {
    width: 90vw;
    margin-left: 18vw;
    position: relative;
}

#page4-content h1 {
    color: #fff;
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    margin-bottom: -45vh;
}


#page4-content h1::before {
    content: "03";



    position: absolute;
    color: #fec100;
    font-size: 5vw;
    font-family: "Playwrite CU", cursive;
    left: -40%;
    top: -10%;
}

#page4-content>p {
    color: #e9e9e9;
    font-size: 1.5vw;
    width: 80%;
    font-family: "Montserrat", sans-serif;
    margin-top: 5vw;
    font-weight: 100;
    line-height: 2vw;
}

#page4>.underline {
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-top: -500px;

}


.underline {
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin: 3vw 0;
}

#page4-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}



#page4-flex img {
    width: 50%;
    bottom: 30%;
    margin-top: -50px;
}


#page4-flex p {
    margin-top: 15vh;
    font-size: 0.9vw;
    width: 20%;
    color: #ffffff;
    margin-left: 1vw;
    font-family: "Montserrat", sans-serif;
    font-style: italic;

    opacity: 0.7;

}

#page4-blue {
    border-radius: 20px;
    position: absolute;
    background-color: rgb(67, 67, 186);
    bottom: -20%;
    left: 30%;
    width: 35vw;
    padding: 3vw 2vw;
}

#page4-blue .blue-div-elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2vh;

    height: 10vh;
    border-bottom: 2px solid #fff;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 2vw;
}

#page4-blue .blue-div-elem h4 {
    font-family: Plain, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    padding: 3vw 3vw;

    width: 70%;
    font-size: 1.5vw;
    color: #fff;

}

#page4-blue .blue-div-elem h4:hover {
    -webkit-text-decoration: underline 1px solid white;
    text-decoration: underline 1px solid white;
    text-underline-offset: 3px;
}



#page4-blue .blue-div-elem h5 {
    width: 50%;
    padding: 4vw 0vw;
    font-family: Plain, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    color: #fff;
}


#page4 .underline {
    margin-top: 25vw;
    height: 1px;
    width: 70%;
    margin-left: 30%;
    background-color: #fff;


}


#page5 {
    min-height: 100vh;
    width: 100%;
    padding: 5vw 0;

}


.elem,
.elem1 {
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2.5vh;

}

.elem h1,
.elem1 h1 {
    font-size: 5vw;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
    /* Longer duration for a smoother effect */
    -webkit-text-stroke: 1px #ffffff;
    font-weight: 600;
    font-family: 'MonumentExtended Regular';
    text-transform: uppercase;
    display: inline-block;
    color: transparent;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: initial;
    animation-direction: initial;
    margin-right: -20vw;
    /* Removing margin to ensure continuous text */
}


@-webkit-keyframes anime {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}


@keyframes anime {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.elem h1 {
    -webkit-animation-name: anime;
    animation-name: anime;
    font-family: Helvetica;

}

.elem1 h1 {
    -webkit-animation-name: anime-reverse;
    animation-name: anime-reverse;
    /* Reversed animation for elem1 */
}

@-webkit-keyframes anime-reverse {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes anime-reverse {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.elem span,
.elem1 span {
    font-style: italic;
    color: transparent;
    font-family: Helvetica;
}


#footer {
    margin-top: -90vh;
    height: 80vh;
    width: 100%;
    position: relative;
    padding-left: 28vw;
    color: #ffffff;
}


#footer h1 {
    font-size: 5vw;
    text-transform: uppercase;
    position: relative;

}

.underline {
    height: 2px;
    width: 100%;
    background-color: #fff;
}

#footer-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-right: 15vw;
    padding-top: 4vw;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 3vw;
}

#footer h6 {
    margin-bottom: 1.5vw;
    font-size: 0.9vw;

}

.box {
    width: 20%;
}

#footer h5 {
    font-size: 1.4vw;
    font-weight: 500;
    margin: 0.2vh 0;

}

#footer>h5 {
    font-weight: 500;
    font-size: 1vw;
}

#footer h1 {

    font-size: 7vw;
    width: 100%;
    right: 15%;
}

#footer h1::before {
    content: "04";
    position: absolute;
    color: #fec100;
    font-size: 5vw;
    font-family: "Playwrite CU", cursive;
    bottom: -20%;
    right: 110%;
}

#page1>.hero:nth-child(2):before {
    content: "01";
    position: absolute;
    color: #fec100;
    font-weight: 900;
    font-size: 5vw;
    font-family: "Playwrite CU", cursive;
    left: -20%;
    top: 10%;
}


.hero {
    width: 75%;
    margin-left: 30%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 9999;

}










#bottom {
    height: 150px;
    width: 100%;
    background-color: transparent;
    padding: 5px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;


}

#bottom::-webkit-scrollbar {
    display: none;
}

.elem {
    display: inline-block;
    height: 100%;
    width: 12vw;
    /* Adjust to fit the content */
    overflow: hidden;
    white-space: nowrap;
    -webkit-animation: anime4 10s linear infinite;
    animation: anime4 10s linear infinite;
}


#bottom:hover .elem {}

.elem .text-bottom {
    height: 30%;
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: transparent;
    text-align: start;
    margin-left: 25px;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.elem .text-bottom .text-bottom-box span {
    border: 1px solid white;
    margin-left: 2px;
    border-radius: 50px;
    margin-top: 10px;
    padding: 5px 5px;
    font-size: 15px;
    font-family: Arial;
}

.elem .text-bottom .text-bottom-box {
    margin-top: 15px;
}

.elem img {
    display: block;
    /* Removes extra space below images caused by inline elements */
    max-height: 100%;
    /* Ensures image doesn't exceed its container's height */
    width: auto;
    /* Maintains aspect ratio while scaling the width */
    height: auto;
    /* Maintains aspect ratio while scaling the height */
    -o-object-fit: cover;
    object-fit: cover;
    /* Scales image to cover the container while maintaining aspect ratio */
    -o-object-position: center;
    object-position: center;
    /* Centers the image within the container */
}



.elem video {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;

}


@-webkit-keyframes anime4 {
    from {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-400%);
        transform: translateX(-400%);
    }
}


@keyframes anime4 {
    from {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-400%);
        transform: translateX(-400%);
    }
}


#page3 #portfolio-section {
    height: 125vh;
    width: 100%;
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;



}

#portfolio-section img {

    margin-left: 10vw;
    border-radius: 40px;
    height: 35vw;
    width: 25vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

#portfolio-section img:hover {
    color: #111;
    background: #fff;
    -webkit-box-shadow: 0 0 25px #fec100;
    box-shadow: 0 0 25px #fec100;
}

#portfolio-section #skillset {
    height: 50vw;

    width: 50vw;
    margin-right: 5vw;
    display: inline-block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;


}

#portfolio-section h2 {
    margin-top: -5vh;
    font-weight: 400;
    margin-right: 10vw;
    font-family: 'MonumentExtended Regular';
    font-size: 4vw;
    color: rgb(255, 255, 255);


}

#portfolio-section p {
    color: rgb(255, 255, 255);
    margin-top: 50px;

}

#skillset h3 {
    font-weight: 650;
    font-family: "Montserrat", sans-serif;
    font-size: 2vw;
    margin-top: 2vw;
    color: rgb(255, 255, 255);
    text-transform: uppercase;

}

#skillset h4 {
    font-weight: 650;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    margin-top: 2vw;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

#portfolio-section .progress-title {
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    margin: 10 10vw;
    margin-top: 5vh;
}

.progress {
    height: 7px;
    width: 50vw;
    background: black;
    border-radius: 0;
    margin-bottom: 5px;
    overflow: visible;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.progress .progress-bar {
    background: black;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 4px dotted #FFA63D;
    border-radius: 0;
    position: relative;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s;
}

.progress .progress-bar:before {
    content: "";
    border-bottom: 20px solid #FFA63D;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    bottom: -2px;
    right: -4px;
}

.progress-bar .progress-value {
    font-size: 12px;
    font-weight: 700;
    color: white;
    position: absolute;
    top: -33px;
    right: 0;
}

.progress.yellow .progress-bar,
.progress.yellow .progress-bar:before {
    border-bottom-color: #fec100;
}

.progress.purple .progress-bar,
.progress.purple .progress-bar:before {
    border-bottom-color: #663399;
}

.progress.green .progress-bar,
.progress.green .progress-bar:before {
    border-bottom-color: #0ead69;
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0;
    }
}

@keyframes animate-positive {
    0% {
        width: 0;
    }
}

#portfolio-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    /* Align content at the bottom */
    height: 20vh;
    /* Full viewport height */
    margin-bottom: 200px;
    margin: 0;
    /* Reset margin */
}

#portfolio-section #skills {
    margin-bottom: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30vw;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* Allow wrapping if the content overflows */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* Center the items horizontally */
    margin-top: 5vh;
    margin-left: 7vw;
    /* Reset margin */
    margin-bottom: 5vh;
    /* Add some space from the bottom */
}

#portfolio-section #skills h4 {

    font-family: "Playwrite CU", cursive;
    color: #fff;
    font-size: 1.5vw;
    left: -40%;
    font-weight: normal;
    padding: 0vw;
    margin: 1.5vh 1vw;
    /* Horizontal margin between items */
    text-align: center;
    white-space: nowrap;
    /* Prevent text from wrapping */
}

#portfolio-section #skills h4:hover {
    -webkit-text-decoration: gold;
    text-decoration: gold;
    text-shadow: 0 0 25px #fec100;

}


#img-and-tech {
    margin-bottom: 10vh;
}

.dotted-underline {
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    position: relative;
    height: 2px;
    /* Height of the line */
    width: 100%;
    /* Width of the container */
    overflow: hidden;
    /* Hide any overflowing part */
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(50%, transparent)) repeat-x;
    background: -o-linear-gradient(left, #fff 50%, transparent 50%) repeat-x;
    background: linear-gradient(to right, #fff 50%, transparent 50%) repeat-x;
    background-size: 20px 2px;
    /* Adjust to the size of your dash */
    -webkit-animation: moveLine 2s linear infinite;
    animation: moveLine 2s linear infinite;
}

@-webkit-keyframes moveLine {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 20px 0;
    }
}

@keyframes moveLine {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 20px 0;
    }
}


#margininline {
    margin-top: 40vh;
}



#scrolla {
    margin-top: -80vh;

    -webkit-box-pack: justify;

    -ms-flex-pack: justify;

    justify-content: space-between;
}